# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo
.turbo/

# Environment
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.nyc_output/

# Prisma
packages/database/prisma/migrations/dev.db*

# Expo
.expo/
apps/mobile/.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Native
apps/mobile/ios/
apps/mobile/android/

# Editor / OS
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
.idea/
Thumbs.db

# Misc
.cache/
tmp/
temp/
